@model MecanicoModelo

@{
    ViewData["Title"] = "Editar Mecanico";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="card">
    <div class="card-header">
        Editar Mecanico
    </div>
    <div class="card-body">

        <form asp-action="Editar" asp-controller="MantenedorMecanico" method="post">
            <input asp-for="Idpersona" type="hidden" class="form-control" />
            <div class="mb-3">
                <label class="form-label">Identificacion</label>
                <input asp-for="Identificacion" type="text" class="form-control" />
                <span asp-validation-for="Identificacion" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label class="form-label">Nombres</label>
                <input asp-for="Nombre" type="text" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label class="form-label">Apellido</label>
                <input asp-for="Apellido" type="text" class="form-control" />
                <span asp-validation-for="Apellido" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label class="form-label">anacimiento</label>
                <input asp-for="anacimiento" type="text" class="form-control" />
                <span asp-validation-for="anacimiento" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label class="form-label">Direccion</label>
                <input asp-for="Direccion" type="text" class="form-control" />
                <span asp-validation-for="Direccion" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label class="form-label">Telefono</label>
                <input asp-for="Telefono" type="text" class="form-control" />
                <span asp-validation-for="Telefono" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label class="form-label">Nivel Educativo</label>
                <input asp-for="Niveleducativo" type="text" class="form-control" />
                <span asp-validation-for="Niveleducativo" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-primary">Guardar</button>
            <a asp-action="Listar" asp-controller="MantenedorMecanico" class="btn btn-warning">Volver a la lista</a>
        </form>
    </div>
</div>

