@model MecanicoModelo
@{
    ViewData["Title"] = "Eliminar Modelo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Eliminar Mecanico</h1>

<div class="card">
    <div class="card-header">
        Eliminar Mecanico
    </div>
    <div class="card-body">

        <form asp-action="Eliminar" asp-controller="MantenedorMecanico" method="post">

            <input asp-for="Idpersona" type="hidden" class="form-control">

            <div class="alert alert-danger" role="alert">
                ¿Desea eliminar el contacto : @Html.DisplayTextFor(m => m.Nombre) ?
            </div>



            <button type="submit" class="btn btn-danger">Eliminar</button>
            <a asp-action="Listar" asp-controller="MantenedorMecanico" class="btn btn-warning">Voler a la lista</a>
        </form>


    </div>
</div>